<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="row-padding">
    <div class="contA">
        <p>Shivang Gupta, a strong believer of simplicity is the key, quantitative approach with
         empathy for the end consumer can help in solving the problem/ building an obsessive product.
        </br> </br>Building the BI function in the MENA region's largest and fastest-growing multi-billion dollar 
         e-commerce noon.com, which is backed by Mohamed Alabbar ( Founder and chairman of Emaar properties)
        and PIF (The Public Investment Fund is the sovereign wealth fund of Saudi Arabia.)</p>
    </div>

    <div class="contB">
        <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="en_US"
         data-type="horizontal" data-theme="light" data-vanity="shiv0304"><a class="LI-simple-link" 
         href='https://ae.linkedin.com/in/shiv0304?trk=profile-badge' target="_blank">Shivang Gupta</a></div>
    </div>
</div>
<div class="pet"> {% include cutie.html %}</div>

<style>
.row-padding{
    display: inline-flex;
    flex-direction: inherit;
}
.contA{
    width: 70%;
    margin: 3.5%;
}
.contB{
    width: 30%;
    margin: 3.5%;
}
</style>