<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="row-padding">
    <div class="cont">
        <p>Shivang Gupta, a strong believer of simplicity is the key, quantitative approach with
         empathy for the end consumer can help in solving the problem/ building an obsessive product.
        </br> </br>Building the BI function in the MENA region's largest and fastest-growing multi-billion dollar 
         e-commerce noon.com, which is backed by Mohamed Alabbar ( Founder and chairman of Emaar properties)
        and PIF (The Public Investment Fund is the sovereign wealth fund of Saudi Arabia.)</p>
    </div>

    <div class="cont">
        <div> {% include git_contri.html %}</div>
    </div>
</div>

<style>
.row-padding{
    display: inline-table;
    flex-direction: inherit;
}
.cont{
    width: 90%;
    margin: 3.5%;
}
</style>