---
layout: default
---
<script type="text/javascript" src="/assets/js/onLoad.js"></script>
<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>

<div class="post" data-gr-c-s-loaded="true">
  <!-- Post Header -->
  <header class="banner">
    <span class="background"></span>
    <h1>{{page.title}}</h1>
  </header>
  <p class="meta">Published On: {{ page.date | date_to_string }}</p>
  {{ content }}
</div>
<div class="commentbox"></div>

<script type="text/javascript">
commentBox('5750410832773120-proj', {
    className: 'commentbox', // the class of divs to look for
    defaultBoxId: 'commentbox', // the default ID to associate to the div
    tlcParam: 'tlc', // used for identifying links to comments on your page
    backgroundColor: null, // default transparent
    textColor: null, // default black
    subtextColor: null, // default grey
    singleSignOn: null, // enables Single Sign-On (for Professional plans only)
    /**
     * Creates a unique URL to each box on your page.
     * 
     * @param {string} boxId
     * @param {Location} pageLocation - a copy of the current window.location
     * @returns {string}
     */
    createBoxUrl(boxId, pageLocation) {

        pageLocation.search = ''; // removes query string!
        pageLocation.hash = boxId; // creates link to this specific Comment Box on your page
        return pageLocation.href; // return url string
    },
    /**
     * Fires once the plugin loads its comments.
     * May fire multiple times in its lifetime.
     * 
     * @param {number} count
     */
    onCommentCount(count) {

    }
});
</script>